/* nav design */
.open-sans-nav {
  font-family: "Open Sans", sans-serif;
 font-weight:bolder;
font-style: normal;
font-variation-settings:
  "wdth" 100;   
  }
 /* word color */
 .nav-color{
      color:#FD6E0A;                        
 }
nav{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 5px 100px;                           
}
nav ul li{
      list-style: none; 
      font-size: 10px;                    
}
nav li a{
        text-decoration: none; 
        margin-right: 20px;                           
}
nav ul{
     display: flex;  
     align-items: center;                       
}
.dark-2
{
  color: #474747;                            
}
.btn-all{
       font-size: 20px;
       font-weight: bold;   
       border-radius: 5px;
       background-color: #FD6E0A;
       color: white;
       padding: 5px 10px ;
       border: none;
}
.head{
     background-image: url(../images/developer.png),url(../images/header_bg.png);
     background-repeat: no-repeat;   
     background-position: top left,bottom right;                      
}
.banner{
     display: flex; 
     justify-content: space-between;
     margin: 0 200px;
}
.banner-content{
     max-width: 580px;                         
}
.bnr-img{
      width: 585px;                        
}
.bnr-style{
        font-size: 30px;
        font-family: 700px;                      
}
.bnr-t-style{
         font-size: 60px;
         font-weight: bold;                     
}
.sec-title-all{
     font-size: 35px;
     font-weight: bold;
     color: #181818;
}
.text-center{
     text-align: center;
}
.para-all{
     font-size: 18px;
     font-weight: normal;
     color: #757575;     
}
.about{
     background-color: #FFF8F3; 
     border-radius: 10px;
     padding: 131px 150px;
     text-align: center;
}
main{   
     max-width: 1140px;   
     margin: 0 auto;   
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.about-items
{
     display: flex;
     justify-content: space-around;
}
.item-value{
     font-weight: bold;  
}
.skill-container{
     display: flex;
     gap: 10px;
}
.skills
{
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     padding: 30px;
}
.resume-container{
     display: flex;
     gap: 24px;
}
.ex-value,.ex-subtitle{
     color:#757575 ;
     margin-bottom: 5px;
}
.ex-title{
     font-size: 25px;
     color: #474744;
     margin-bottom: 5px;
}
.resume hr{
     margin: 20px;

}
.res-dwn-cv{
     margin: 100px;
}